
.logo {
	border: 1px solid #CCC;
	padding: 0.2rem;
	background-color: #263238;
}

.logoLabel {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  color: #fff;
}

/*.logoPicture {
   background-image:url(/img/fagi_logo.jpg);
   background-repeat : no-repeat;
   background-size : 268px 130px;
   margin:0;  If you want no margin 
   padding:0; if your want to padding 
}*/

.fagi-table-container {
  margin-bottom: 10px;
  font-size: 0.8rem;
}


