.Logo {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px; 
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(255, 233, 172, 0.5);
}

.RuleWrapper {
  overflow:hidden;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px; 
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(245, 255, 255, 0.5);
}

.RuleSelectBox {
  display: inline-block;
  float:left;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 20px; 
  padding: 0.35rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(255, 233, 172, 0.5);
}

.RuleSelectBox_content {
  display: inline-block;
  float:left;
  padding: 0.1rem;
}

.SelectBox {
  display: inline-block;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px; 
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(255, 233, 172, 0.5);
}

.SelectBox_content {
  display: inline-block;
  padding: 0.1rem;
}

.ActionRule {
  clear:both;
  display: inline-block;
  float:left;
  margin-bottom: 5px;
  margin-left: 40px;
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(240, 240, 255, 0.5);
}

.ActionRuleBuilderBox {
    float:left;
}

.FusionActionPair {
  float:left;
}

.RuleFusionActionBox {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px;   
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(255, 233, 172, 0.5);
}

.RuleFusionActionBox_content {
  float:left;
  display: inline-block;
  padding: 0.1rem;
}

.FusionBox {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px; 
  padding: 1.2rem;
  border: 1px solid #CCC;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.5);
}

.RuleButton {
  margin-left: 40px;
  padding: 0.5rem;
}

.FuseButton {
  margin-left: 40px;
  margin-right: 40px;
  padding: 0.5rem;
}

.ConditionButton {
  clear:both;
  float:left;
  margin-top: 10px;
  margin-left: 40px;
}

.Threshold {
  display: inline-block;
  width: 35px;
  padding: 0.1rem;
}

.Chart {
  overflow:hidden;
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-right: 40px; 
  padding: 0.5rem;
  border: 1px solid #CCC;
  border-radius: 4px;
}

.centered {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
}
